body {
  background-color: #fafafa;
}

.container {
  max-width: 700px;
}

h1, h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

table button {
  background-color: white;
  border-width: 0;
  padding: 0;
}

.section {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
}

form button {
  margin: 1em;
}

#loading-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.8);
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

#loading-content {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  padding: 1em 2.8em 1em 3em;
  position: relative;
}
